ssh_key="ssh-rsa AAAAXXX== usuario@ejemplo.com"
project_name="terraform"
region_name="eu-west-3"
availability_zone="eu-west-3a"
vpc_id="vpc-xxxxxx"
instance_type="t3.micro"
docker_cmd = "docker run -d --name rancher-terraform --restart=unless-stopped -v /mnt/demo_web_volume:/var/lib/docker -p 80:80 -p 443:443 rancher/rancher:latest"
hostname-prefix = "rancher"
domain_name = "example.com"
rancher_dns_name = "rancher"